.features{
    padding: 58px 0 10px;
    h2{
        text-align: center;
        @media (max-width: $breakpoint-sm) {
            text-align: left;
        }
    }
    p{
        padding-top: 40px;
        text-align: center;
        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
            text-align: left;
        }
        @media (max-width: $breakpoint-sm) {
            padding-top: 20px;
        }
    }
}
.features__cards{
    margin: 79px auto;
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
    @media (max-width: $breakpoint-lg) {
        display: grid;
        text-align: start;
    }

}
.features__card{
    width: 368px;
    flex-direction: column;
    @media (max-width: $breakpoint-lg) {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 500px;
    }
    @media (max-width: $breakpoint-lg) {
       width: 100%; 
    }
    h2{
        margin: 20px auto 15px;
        font-size: 16px;
    }
    p{
        padding-top: 0px;
        margin: 0px auto;
        letter-spacing: 0px;
        line-height: 140%;
        font-size: 16px;
    }

}
.features__text{
    h2{
        @media (max-width: $breakpoint-lg) {
                    text-align: start;
        }   
    }
    p{
        @media (max-width: $breakpoint-lg) {
                    text-align: start;

        }
        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
        }
    }

}