.screenshots{
    margin: 42px auto;
}
.screenshots__content{
    display: grid;
    row-gap: 120px;
}
.screenshots__item{
    justify-content: center;
    gap: 99px;
    align-items: center;
    display: flex;
    @media (max-width: $breakpoint-xl) {
            gap: 15px;
    }
    @media (max-width: $breakpoint-lg) {
            display: grid;
            gap: 30px
    }

}
.screenshots__item-reverse{
    justify-content: center;
    gap: 99px;
    align-items: center;
    display: flex;
    @media (max-width: $breakpoint-xl) {
            gap: 15px;
    }
    @media (max-width: $breakpoint-lg) {
            display: grid;
            gap: 30px
    }

    .screenshots__text{
        order: 2;
        @media (max-width: $breakpoint-lg){
            order: 1;
        }
    }
    .screenshots__icon{
        order: 1;
        @media (max-width: $breakpoint-lg){
            order: 2;
        }
    }
}
.screenshots__text{
    width: 480px;
    h2{
        margin-bottom: 30px;
        line-height: 120%;
        @media (max-width: $breakpoint-sm) {
            line-height: 100%;
        }
    }
    p{
        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
        }  
    }
    @media (max-width: $breakpoint-sm) {
        width: 89vw;
    }
}
.screenshots__icon{
    width: 600px;
    height: 410px;
    border-radius: 30px;
    background: $white;
    box-shadow: $bax-shadow;
    @media (max-width: $breakpoint-xl) {
        width: 480px;
        height: 328px;
    }
    @media (max-width: $breakpoint-sm) {
        width: 89vw;
        height: 61vw;
    }
}
.screenshots__icon-chart{
    margin-top: 51px;
    margin-left: 64px;
    @media (max-width: $breakpoint-xl) {
        transform: scale(0.8);
        margin-top: 10px;
        margin-left: 3px;

    }
    @media (max-width: $breakpoint-sm) {
        transform: scale(1);
        width: 69vw;
        height: 46vw;
        margin-top: 7vw;
        margin-left: 9.5vw;
    }
}
.screenshots__icon-group{
    margin-top: 72px;
    margin-left: 57px;
    @media (max-width: $breakpoint-xl) {
        transform: scale(0.8);
        margin-top: 31px;
        margin-left: -4px;
    }
    @media (max-width: $breakpoint-sm) {
        transform: scale(1);
        width: 72vw;
        height: 40vw;
        margin-top: 10.7vw;
        margin-left: 8.4vw;
    }
}
.screenshots__icon-calendar{
    margin-top: 57px;
    margin-left: 70px;
    @media (max-width: $breakpoint-xl) {
        transform: scale(0.8);
        margin-top: 15px;
        margin-left: 8px;
    }
    @media (max-width: $breakpoint-sm) {
        transform: scale(1);
        width: 69vw;
        height: 45vw;
        margin-top: 8.4vw;
        margin-left: 10.4vw;
    }
}