// Цвета
$gray: #8794BA;
$dark-blue: #172755;
$dark-blue-opasiti:rgba(15, 31, 75, 0.7);
$blue: #2A407C;
$pink: #EF2A82;
$white: white;
$background-color: #F8F9FE;

// Тень

$bax-shadow: 0 18px 50px -18px rgba(25, 42, 89, 0.2);

// РАзмер контейнер

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1180px;

// Размер экрана

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1230px;